
.nav-bar{
    border: 2px solid #3ec457;
    background-color: rgb(153, 255, 127);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}


.nav-link{
    display: inline-block;
    box-sizing: border-box;
    width: 100px;
    padding: 5px;
    margin: 0 6px 6px;
    background: rgb(67, 165, 48);
    text-decoration: none;
    text-align: center;
    font-size: min(10vw, 15px) ;
    color: white;
}

.active {
    color: rgb(255, 225, 0);
}